* {
    font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-weight: 400;
    letter-spacing: -0.2px;

    margin: 0;
    padding: 0;

    user-select: none;
    -webkit-user-drag: none;

    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.phone{
    position: relative;
    background-color: #FAFAFA;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    width: 393px;
    height: 852px;

    box-shadow: 0 20px 40px rgba(0,0,0,0.1);
    outline: 12px solid #A8A8A8;
    border-radius: 36px;
    overflow: hidden;
}

.statusbar {
    width:100%;
    height: 40px;

    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 20px 24px;
    color:#333;
}

.status-left {
    font-size: 18px;
    font-weight: 600;
    color:#333
}

.status-right {
    display: flex;
    align-items: center;
    gap: 8px
}

.status-icon {
    font-size: 18px;
}

.topbar {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;

    text-align: center;
    height: 60px;
    padding: 0 24px;
}

.topbar h1 {
    margin: 0;
    font-weight: 600;
    font-size: 18px;
    text-align: center;
}

.back {
    position: absolute;
    left: 24px;
    transform: rotate(90deg);
    background:transparent;
    border:none;
    cursor:pointer;
}

.content {
    height: 100%;
    margin-bottom: 80px;
    padding: 0 24px 40px 24px;
    overflow-y: auto;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.bottombar {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 80px;
    padding-top: 16px;

    display: flex;
    justify-content: space-around;
    background: #ffffff;
    box-shadow: 0 -2px 4px rgba(0,0,0,0.1);
}

.bottombar img {
    width: 30px;
    height: 30px;
    object-fit: contain;
}

.content::-webkit-scrollbar {
    display: none;
    width: 0;
}


.list-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 0;
    margin-bottom: 8px;
}

.list-title {
    font-size: 20px;
    font-weight: 800;
    color: #333;
}

.list-title span {
    color: #4A90E2;
    font-weight: 800;
    margin-left: 4px;
}

.list-controls {
    display: flex;
    gap: 16px;
}

.list-controls img {
    width: 100%; 
    height: 100%; 
    object-fit: contain;
}

.employee-list {
    list-style: none;
    padding: 0 16px;
    margin: 0;

    background-color: #ffffff;
    border-radius: 12px;
    box-shadow:
        0 0px 8px rgba(0, 0, 0, 0.1)
}

.employee-item {
    display: flex;
    align-items: center;
    padding: 12px 0;
    border-bottom: 1px solid #EDEDED;
}

.list-header {
    margin-bottom: 16px;
}

.list-controls img {
    width: 32px; 
    height: 32px; 
    background-color: #ffffff;
    border-radius: 50%;
    cursor: pointer;
    
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.15); 
    padding: 6px;
    object-fit: contain; 
}

.employee-item {
    display: flex;
    align-items: center;
    padding: 12px 0;
    border-bottom: 1px solid #EDEDED;
}

.employee-item:last-child {
    border-bottom: none;
}

.profile-icon {
    width: 44px;
    height: 44px;
    background-color: #E0E0E0;
    border-radius: 50%;
    margin-right: 12px;
}

.info-group {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.name-badge-group {
    display: flex;
    align-items: center;
}

.employee-name {
    font-size: 16px;
    font-weight: 600;
    color: #333;
    margin-right: 8px;
}

.role-badge {
    padding: 2px 6px;
    font-size: 11px;
    font-weight: 600;
    border-radius: 4px;
    color: #ffffff;
    letter-spacing: normal;
}

.manager {
    background-color: #EF7D7D;
}

.employee {
    background-color: #76A6FF;
}

.trainer {
    background-color: #FFBB5D;
}

.view-details {
    background: transparent;
    border: none;
    color: #999999;
    font-size: 14px;
    font-weight: 500;
    cursor: pointer;
    padding: 4px 0;
}